<footer class="container-fluid bg-primary py-3 text-white" id="copyright">
    <div class="container-lg">
        <div class="d-flex align-items-center justify-content-between">
            <p class="mb-0">
                &copy; {{ "now"|date("Y") }} Villa Belvedere s.r.o.
            </p>

            <p class="mb-0">
                <a href="https://www.hucr.cz" target="_blank" class="signature">
                    <span class="bg-brown-light"></span>
                </a>
            </p>
        </div>
    </div>
</footer>
