<header class="container-fluid bg-primary py-3">
    <div class="container-lg d-flex justify-content-between align-items-center">
        <div id="logo">
            <a href="{{ 'homepage'|page }}" class="d-flex">
                <img src="{{ 'assets/images/logo.svg'|theme }}" alt="logo">
            </a>
        </div>

        <div id="menu" class="d-none d-lg-flex">
            {% partial "menu" %}
        </div>

        <div id="menu-toggle" class="d-lg-none">
            <a href="#offcanvas" class="link-white text-secondary-hover transition-base" data-bs-toggle="offcanvas">
                <i class="bi bi-list fs-67"></i>
            </a>
        </div>
    </div>
</header>
