<ul id="main-menu" class="nav nav-pills {% if mobile %}flex-column{% endif %}">
    <li class="nav-item">
        <a href="{{ 'homepage'|page }}/#ubytovani" class="nav-link">O ubytování</a>
    </li>

    <li class="nav-item">
        <a href="{{ 'homepage'|page }}/#cenik" class="nav-link">Ceník a pokoje</a>
    </li>

    <li class="nav-item">
        <a href="{{ 'homepage'|page }}/#fotogalerie" class="nav-link">Fotogalerie</a>
    </li>

    <li class="nav-item">
        <a href="{{ 'homepage'|page }}/#kontakt" class="nav-link">Kontakt</a>
    </li>
</ul>
