<div class="container-fluid bg-light py-5" id="support">
    <div class="container-lg">
        <div class="d-flex flex-column justify-content-center flex-sm-row">
            <p class="mb-0 text-center text-sm-start">
                <img src="{{ 'assets/images/logo-hk.svg'|theme }}" alt="královéhradecký kraj">
            </p>

            <p class="mb-0 d-inline-flex align-items-center mt-3 text-center text-sm-start ms-sm-5 mt-sm-0">
                Realizováno za podpory Královéhradeckého kraje
            </p>
        </div>
    </div>
</div>
