<div id="scf-{{ __SELF__ }}">

	<div id="scf-message-{{ __SELF__ }}">
		{% partial __SELF__ ~ '::scf-message' %}
	</div>

	<div id="scf-form-{{ __SELF__ }}">
		{% partial __SELF__ ~ '::scf-form' %}
	</div>

</div>

{% put scripts %}
    <script>
        const arrivalDatePicker = MCDatepicker.create({
            el: "#contactform-arrival",
            bodyType: "inline",
            dateFormat: "d.m.yyyy",
            autoClose: true,
            closeOnBlur: true,
            firstWeekday: 1,
            customWeekDays: ["Neděle", "Pondělí", "Úterý", "Středa", "Čtvrtek", "Pátek", "Sobota"],
            customMonths: ["Leden", "Únor", "Březen", "Duben", "Květen", "Červen", "Červenec", "Srpen", "Září", "Říjen", "Listopad", "Prosinec"],
            customClearBTN: 'Smazat',
            customCancelBTN: 'Zrušit',
        });

        const departureDatePicker = MCDatepicker.create({
            el: "#contactform-departure",
            bodyType: "inline",
            dateFormat: "d.m.yyyy",
            autoClose: true,
            closeOnBlur: true,
            firstWeekday: 1,
            customWeekDays: ["Neděle", "Pondělí", "Úterý", "Středa", "Čtvrtek", "Pátek", "Sobota"],
            customMonths: ["Leden", "Únor", "Březen", "Duben", "Květen", "Červen", "Červenec", "Srpen", "Září", "Říjen", "Listopad", "Prosinec"],
            customClearBTN: 'Smazat',
            customCancelBTN: 'Zrušit',
        });
    </script>
{% endput %}
