<div id="ubytovani" class="container-fluid bg-secondary py-5 bg-light">
    <div id="accommodation-container" class="container-lg">
        <div class="row">
            <div class="col-12 col-xl-9">
                <h2 class="mb-4">
                    O ubytování
                </h2>

                <p>
                    Vítejte v našem rodinném penzionu v kouzelném lázeňském městečku Janské Lázně, který se nachází v
                    klidné lokalitě nedaleko centra. Naše prostorné apartmány s kuchyňským koutem vám poskytnou
                    maximální pohodlí a nezávislost, díky čemuž si můžete svou dovolenou naplánovat přesně podle vašich
                    představ. Ať už hledáte klidné útočiště po dni plném turistických výletů, lyžování či lázeňských procedur,
                    nebo si chcete užít čas s rodinou či přáteli, u nás najdete vše, co potřebujete pro dokonalou
                    relaxaci. Naše poloha nabízí skvělou výchozí pozici pro objevování krás Krkonoš – jen pár kroků od
                    turistických tras, sjezdovek a lázeňských služeb. Penzion je ideálním místem pro páry, rodiny i
                    skupiny přátel, kteří si chtějí užít pobyt plný pohody, sportu i odpočinku v přírodě.
                </p>

                <p class="mb-0 fw-semi-bold">
                    Těšíme se na vás a uděláme vše pro to, abyste u nás prožili příjemný pobyt a rádi se k nám znovu vraceli!
                </p>
            </div>
        </div>
    </div>
</div>
