<div id="ubytovani" class="container-fluid bg-secondary py-5 bg-light">
    <div id="accommodation-container" class="container-lg">
        <div class="row">
            <div class="col-12 col-xl-8">
                <h2 class="mb-4">
                    O ubytování
                </h2>

                <p>
                    Penzion Villa Belvedere je situován na klidném místě, cca 300 m od centra Janských Lázní, od kabinové
                    lanové dráhy na Černou horu (cca 800 metrů). V hlavní zimní sezóně denně jezdí skibus ke skiareálu zdarma
                    každých 30 minut. Zastávka je vzdálena cca 100 m.
                </p>

                <p>
                    Penzion je nově zrekonstruovaný a vhodný pro rodiny s dětmi. Celková kapacita je 40 lůžek a v každém
                    apartmánu je plně vybavená kuchyňka s ledničkou. Možnost stravování je také v restauraci přímo v objektu.
                    U penzionu se nachází také vlastní parkoviště.
                </p>

                <p class="mb-0 fw-semi-bold">
                    Těšíme se na Vaši návštěvu.
                </p>
            </div>
        </div>
    </div>
</div>
