<div id="banner" class="container-fluid px-0 position-relative">
    <picture>
        <source srcset="{{ "assets/images/banners/01-sm.jpg"|theme }}" media="(max-width: 809px)">

        <img src="{{ "assets/images/banners/01.jpg"|theme }}" alt="banner" class="img-fluid w-100">
    </picture>

    <div id="banner-container" class="container-lg position-absolute w-100 h-100 top-0 start-50 translate-middle-x d-flex align-items-center justify-content-center justify-content-md-start">
        <div class="position-absolute d-inline-block container p-lg-0">
            <p class="text-center text-md-start mb-4">
                <img src="{{ 'assets/images/logo-banner.svg'|theme }}" alt="logo">
            </p>

            <h1 class="text-center text-md-start text-white text-uppercase mb-1 mb-md-0">
                Villa <br class="d-md-none">
                Belvedere
            </h1>

            <p class="mb-4 mb-md-0 mb-xl-4 fw-semi-bold fs-39 text-white text-center text-md-start lh-sm">
                Rodinný penzion <br class="d-md-none">
                na klidném <br class="d-none">
                místě <br class="d-md-none">
                v Janských Lázních, <br class="d-md-none d-xxl-block">
                kde se mísí pohodlí <br class="d-lg-none">
                s krásou horské <br class="d-md-none d-lg-block d-xl-none">
                přírody a domácí péčí.
            </p>

            <p class="text-center text-xl-start mb-0 d-md-none d-xl-block">
                <a href="#kontakt" class="btn btn-blue fw-bold">
                    Rezervace
                </a>
            </p>
        </div>
    </div>
</div>
