<div id="{{ 'menu.contact.slug'|trans }}" class="container-fluid bg-secondary py-5">
    <div id="contact-container" class="container-lg">
        <div class="row">
            <div class="col-lg-7 col-xl-6">
                <h2 class="mb-4">
                    {{ "reservation"|trans }}
                </h2>

                {% component "contactform" %}
            </div>

            <div class="col-lg-5 col-xl-4 offset-xl-2 mt-5 mt-lg-3">
                <p class="mb-4 fs-20 address">
                    <img src="{{ 'assets/images/logo-contact.svg'|theme }}" alt="logo" class="img-fluid mb-2"><br>

                    Lesní 82, <br>
                    Janské Lázně
                </p>

                <p class="mb-5 fs-20">
                    <span class="d-flex align-items-center">
                        <i class="bi bi-telephone fs-25 me-3 text-brown-light"></i>

                        <a href="tel:+420 602 161 508" class="link-primary text-decoration-none text-orange-hover transition-base">
                            +420 602 161 508
                        </a>
                    </span>

                    <span class="d-flex align-items-center">
                        <i class="bi bi-telephone fs-25 me-3 text-brown-light"></i>

                        <a href="tel:+420 602 246 008" class="link-primary text-decoration-none text-orange-hover transition-base">
                            +420 602 246 008
                        </a>
                    </span>

                    <span class="d-flex align-items-center">
                        <i class="bi bi-envelope fs-25 me-3 text-brown-light"></i>

                        <a href="mailto:info@villabelvedere.cz" class="link-primary text-decoration-none text-orange-hover transition-base">
                            info@villabelvedere.cz
                        </a>
                    </span>
                </p>

                <div class="ratio ratio-4x3">
                    <iframe style="border:none" src="https://en.frame.mapy.cz/s/jocepafobe" width="400" height="280" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
