<div id="{{ 'menu.prices.slug'|trans }}" class="prices container-fluid py-5 bg-light-pattern">
    <div id="prices-container" class="container-lg">
        <h2 class="mb-4">
            {{ "menu.prices.title"|trans }}
        </h2>

        <div class="room">
            {% partial "homepage/apartments/01.htm" %}
        </div>

        <div class="room mt-5">
            {% partial "homepage/apartments/02.htm" %}
        </div>

        <div class="collapse" id="more-apartments">
            <div class="room mt-5">
                {% partial "homepage/apartments/03.htm" %}
            </div>

            <div class="room mt-5">
                {% partial "homepage/apartments/04.htm" %}
            </div>

            <div class="room mt-5">
                {% partial "homepage/apartments/05.htm" %}
            </div>

            <div class="room mt-5">
                {% partial "homepage/apartments/06.htm" %}
            </div>

            <div class="room mt-5">
                {% partial "homepage/apartments/07.htm" %}
            </div>

            <div class="room mt-5">
                {% partial "homepage/apartments/08.htm" %}
            </div>

            <div class="room mt-5">
                {% partial "homepage/apartments/09.htm" %}
            </div>

            <div class="room mt-5">
                {% partial "homepage/apartments/10.htm" %}
            </div>
        </div>

        <div class="mt-5">
            <p class="mb-0 text-center">
                <a href="#more-apartments" class="btn btn-blue" data-bs-toggle="collapse">
                    <span>
                        {{ "more_rooms"|trans }} <i class="bi bi-chevron-down fs-15"></i>
                    </span>

                    <span class="d-none">
                        {{ "less_rooms"|trans }} <i class="bi bi-chevron-up fs-15"></i>
                    </span>
                </a>
            </p>
        </div>
    </div>
</div>

{% put scripts %}
    <script>
        lightGallery(document.getElementById("cenik"), {
            plugins: [lgZoom, lgThumbnail],
            speed: 500,
            selector: ".room .img",
            galleryId: "cenik",
        });
    </script>
{% endput %}
