<div class="container-fluid bg-primary py-5 text-white" id="prohibitions">
    <div class="container-lg">
        <div class="row">
            <div class="col-7 col-sm-4 d-flex align-items-center col-lg-3 col-xxl-2">
                <img src="{{ 'assets/images/icons/no-pets.svg'|theme }}" alt="no pets" class="img-fluid">
                <img src="{{ 'assets/images/icons/no-smoking.svg'|theme }}" alt="no smoking" class="img-fluid ms-4">
            </div>

            <div class="col-12 mt-3 col-sm-8 mt-sm-0 d-md-flex align-items-center col-xl-6">
                <p class="mb-0">
                    Vezměte prosím na vědomí, že všechny pokoje jsou <span class="fw-bold">nekuřácké</span>
                    <br class="d-none d-xxl-block"> a platí zde také <span class="fw-bold">zákaz zvířat</span>.
                </p>
            </div>
        </div>

        <div class="mt-5">
            <div class="d-grid gap-3 col-sm-7 col-md-6 d-lg-block col-lg-auto">
                <a href="{{ 'dodatecne-sluzby'|page }}" class="btn btn-outline-blue">
                    Dodatečné služby
                </a>

                <a href="{{ 'ubytovaci-rad'|page }}" class="btn btn-outline-blue ms-lg-4">
                    Ubytovací řád
                </a>

                <a href="{{ 'historie'|page }}" class="btn btn-outline-blue ms-lg-4">
                    Historie Villa Belvedere
                </a>
            </div>
        </div>
    </div>
</div>
