<div id="services" class="container-fluid pt-4 pb-5 bg-brown-pattern">
    <div id="services-container" class="container-lg pt-0 pt-sm-3 pb-0 pb-sm-4">
        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 g-4 g-sm-5">
            <div class="col service text-center">
                <p class="icon mb-0 text-center">
                    <img src="{{ 'assets/images/icons/01.svg'|theme }}" alt="icon01" class="img-fluid">
                </p>

                <p class="mb-0 text-center text-white fs-20 mt-n3 lh-sm">
                    {{ "service.ski_box"|trans|content }}
                </p>
            </div>

            <div class="col service text-center">
                <p class="icon mb-0 text-center">
                    <img src="{{ 'assets/images/icons/02.svg'|theme }}" alt="icon01" class="img-fluid">
                </p>

                <p class="mb-0 text-center text-white fs-20 mt-n3 lh-sm">
                    {{ "service.kitchen"|trans|content }}
                </p>
            </div>

            <div class="col service text-center">
                <p class="icon mb-0 text-center">
                    <img src="{{ 'assets/images/icons/03.svg'|theme }}" alt="icon01" class="img-fluid">
                </p>

                <p class="mb-0 text-center text-white fs-20 mt-n3 lh-sm">
                    {{ "service.tv"|trans|content }}
                </p>
            </div>

            <div class="col service text-center">
                <p class="icon mb-0 text-center">
                    <img src="{{ 'assets/images/icons/04.svg'|theme }}" alt="icon01" class="img-fluid">
                </p>

                <p class="mb-0 text-center text-white fs-20 mt-n3 lh-sm">
                    {{ "service.no_smoking"|trans|content }}
                </p>
            </div>

            <div class="col service text-center">
                <p class="icon mb-0 text-center">
                    <img src="{{ 'assets/images/icons/05.svg'|theme }}" alt="icon01" class="img-fluid">
                </p>

                <p class="mb-0 text-center text-white fs-20 mt-n3 lh-sm">
                    {{ "service.parking"|trans|content }}
                </p>
            </div>

            <div class="col service text-center">
                <p class="icon mb-0 text-center">
                    <img src="{{ 'assets/images/icons/06.svg'|theme }}" alt="icon01" class="img-fluid">
                </p>

                <p class="mb-0 text-center text-white fs-20 mt-n3 lh-sm">
                    {{ "service.ski_bus"|trans|content }}
                </p>
            </div>

            <div class="col service text-center offset-md-2 offset-xl-0">
                <p class="icon mb-0 text-center">
                    <img src="{{ 'assets/images/icons/07.svg'|theme }}" alt="icon01" class="img-fluid">
                </p>

                <p class="mb-0 text-center text-white fs-20 mt-n3 lh-sm">
                    {{ "service.center"|trans|content }}
                </p>
            </div>

            <div class="col service text-center">
                <p class="icon mb-0 text-center">
                    <img src="{{ 'assets/images/icons/08.svg'|theme }}" alt="icon01" class="img-fluid">
                </p>

                <p class="mb-0 text-center text-white fs-20 mt-n3 lh-sm">
                    {{ "service.ski_lift"|trans|content }}
                </p>
            </div>
        </div>
    </div>
</div>
