<div class="swiper">
    <div class="swiper-wrapper" id="gallery">
        {% for image in __SELF__.gallery.images %}
            <div class="swiper-slide">
                <a href="{{ image.path }}" title="{{ image.description }}">
                    <img src="{{ image.path }}" alt="{{ image.title }}" class="img-fluid">
                </a>
            </div>
        {% endfor %}
    </div>

{#    <div class="swiper-button-prev"></div>#}
{#    <div class="swiper-button-next"></div>#}
</div>

{% put scripts %}
    <script>
        lightGallery(document.getElementById("{{ __SELF__ }}"), {
            plugins: [lgZoom, lgThumbnail],
            speed: 500,
            selector: ".swiper-slide a"
        });

        const swiper = new Swiper(".swiper", {
            slidesPerView: 1,
            spaceBetween: 8,
            loop: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                576: {
                    slidesPerView: 2,
                },
                768: {
                    slidesPerView: 3,
                },
                992: {
                    slidesPerView: 3,
                },
                2500: {
                    slidesPerView: 4,
                },
            },
            autoplay: {
                delay: 5000
            },
        });
    </script>
{% endput %}
