<div class="row g-2">
    <div class="col-12 col-xl-8 fw-semi-bold">
        {{ "apartment"|trans }} 4
    </div>

    <div class="col-2 d-none d-xl-block">
        {{ "capacity"|trans }}
    </div>

    <div class="col-2 d-none d-xl-block">
        {{ "price"|trans }}
    </div>
</div>

<div class="row g-2 mt-2">
    <div class="col-12 col-md-6 col-xl-4">
        <a href="{{ 'apartments/04.jpg'|media }}" class="img">
            <img src="{{ 'apartments/04.jpg'|media|resize(600, 400, {mode: "crop"}) }}" alt="{{ "apartment"|trans }} 4" class="img-fluid w-100">
        </a>
        {#        <div class="card h-100">#}
        {#            <div class="card-body fs-16">#}
        {#                <span class="fw-semi-bold">Velikost:</span> 47 m<sup>2</sup><br>#}
        {#                <span class="fw-semi-bold">Ložnice 1:</span><br class="d-sm-none"> 1 velká manželská postel <br>#}
        {#                <span class="fw-semi-bold">Ložnice 2:</span><br class="d-sm-none"> 3 jednolůžkové postele#}
        {#            </div>#}
        {#        </div>#}
    </div>

    <div class="col-12 col-md-6 col-xl-4">
        <div class="card h-100">
            <div class="card-body fs-16">
                {{ "apartment.04"|trans }}
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-3 col-lg-2 capacity">
        <p class="mb-2 mt-0 d-xl-none">
            {{ "capacity"|trans }}
        </p>

        <div class="card bg-primary">
            <div class="card-body text-center fs-20 text-white d-flex align-items-center justify-content-center">
                <p class="mb-0">
                    <i class="bi bi-person-fill"></i>x4 <br>

                    {{ "persons_count"|trans_choice(4, {value: 4}) }}
                </p>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-3 col-lg-2 price">
        <p class="mb-2 mt-0 d-xl-none">
            {{ "price"|trans }}
        </p>

        <div class="card bg-primary">
            <div class="card-body text-center fs-20 text-white d-flex align-items-center justify-content-center">
                <p class="mb-0">
                    {{ "price_from"|trans }} 2600 Kč <br>
                    / {{ "nights_count"|trans_choice(1, {value: 1}) }}
                </p>
            </div>
        </div>
    </div>
</div>
