<div class="row g-2">
    <div class="col-12 col-xl-8 fw-semi-bold">
        Apartmán 7
    </div>

    <div class="col-2 d-none">
        Kapacita
    </div>

    <div class="col-2 d-none">
        Cena
    </div>
</div>

<div class="row g-2 mt-2">
    <div class="col-12 col-md-6 col-xl-4">
        <a href="{{ 'apartments/07.jpg'|media }}" class="img">
            <img src="{{ 'apartments/07.jpg'|media|resize(600, 400, {mode: "crop"}) }}" alt="Apartmán 7" class="img-fluid w-100">
        </a>
    </div>

    <div class="col-12 col-md-6 col-xl-4">
        <div class="card h-100">
            <div class="card-body fs-16">
                Tento prostorný apartmán s manželskou postelí King size a třemi pevnými lůžky poskytuje pohodlné
                ubytování pro rodiny nebo skupiny přátel. Apartmán je vybaven satelitní televizí, Wi-Fi zdarma a šatní
                skříní. Koupelna nabízí sprchový kout. Tento apartmán je ideální pro hosty, kteří chtějí strávit pobyt
                v klidné části města s dostatkem prostoru.
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-3 col-lg-2 capacity">
        <p class="mb-2 mt-0 d-xl-none">
            Kapacita
        </p>

        <div class="card bg-primary">
            <div class="card-body text-center fs-20 text-white d-flex align-items-center justify-content-center">
                <p class="mb-0">
                    <i class="bi bi-person-fill"></i>x5 <br>

                    5 osob
                </p>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-3 col-lg-2 price">
        <p class="mb-2 mt-0 d-xl-none">
            Cena
        </p>

        <div class="card bg-primary">
            <div class="card-body text-center fs-20 text-white d-flex align-items-center justify-content-center">
                <p class="mb-0">
                    3250 Kč <br>
                    / 1 noc
                </p>
            </div>
        </div>
    </div>
</div>
