<div class="row g-2">
    <div class="col-12 col-xl-8 fw-semi-bold">
        Apartmán 9
    </div>

    <div class="col-2 d-none">
        Kapacita
    </div>

    <div class="col-2 d-none">
        Cena
    </div>
</div>

<div class="row g-2 mt-2">
    <div class="col-12 col-md-6 col-xl-4">
        <a href="{{ 'apartments/09.jpg'|media }}" class="img">
            <img src="{{ 'apartments/09.jpg'|media|resize(600, 400, {mode: "crop"}) }}" alt="Apartmán Superior 9" class="img-fluid w-100">
        </a>
    </div>

    <div class="col-12 col-md-6 col-xl-4">
        <div class="card h-100">
            <div class="card-body fs-16">
                Tento útulný apartmán je vybaven dvěma pevnými lůžky a je ideální pro dvojice nebo přátele. Nabízí
                satelitní televizi, Wi-Fi zdarma a šatní skříň. Součástí apartmánu je koupelna se sprchovým koutem.
                Perfektní volba pro ty, kteří hledají klidné a pohodlné ubytování pro dva.
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-3 col-lg-2 capacity">
        <p class="mb-2 mt-0 d-xl-none">
            Kapacita
        </p>

        <div class="card bg-primary">
            <div class="card-body text-center fs-20 text-white d-flex align-items-center justify-content-center">
                <p class="mb-0">
                    <i class="bi bi-person-fill"></i>x2 <br>

                    2 osoby
                </p>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-3 col-lg-2 price">
        <p class="mb-2 mt-0 d-xl-none">
            Cena
        </p>

        <div class="card bg-primary">
            <div class="card-body text-center fs-20 text-white d-flex align-items-center justify-content-center">
                <p class="mb-0">
                    1300 Kč <br>
                    / 1 noc
                </p>
            </div>
        </div>
    </div>
</div>
